body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #0A143A; /*text color: #0A143A*/
}

.container {
    max-width: 1146px; /*max width of header*/
    margin: auto; /*automatic mid-alignment (автоматическое выравнивание по середине)*/
}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-bottom: 12px; /*for contant*/
}

.navbar {
    display: flex; /*do flexible block (делаем гибкий блок)*/
    align-items: center; /*Align vertically to center (выравниваем по вертикали по центру)*/
    justify-content: space-between; /*scatter (разбросать) elements around edges (разбросать элементы по краям)*/
    margin-bottom: 24px;
}

.navbar-menu {
    margin-right: auto; /*automatic indentation to the right of the logo(автоматический отступ справа от логотипа)*/
}

.menu {
    list-style: none; /*clean up points in the list(убираем точки в списке)*/
    margin: 0; /*reset (обнулить) indentations*/
    padding-left: 20px; /*internal left indent (внутренний отступ слева)*/
    padding-right: 20px; /*internal right indent*/
    display: flex; /*do flexible menu items*/
}

/*for all items of menu except the last one*/
.menu-item:not(:last-child) {
    margin-right: 14px; /*each item push the next one to the right by 14px*/
}

.menu-link {
    text-decoration: none; /*[shortcut tdn + TAB] removing underlines*/
    color: inherit; /*immitate the parent's color (body)*/
}

.button {
    text-decoration: none;
    display: inline-block; /*?????????*/
    padding: 10px 15px;
    cursor: pointer;
}

.button-link {
    color: inherit;
}

.button-primary {
    background: #256EEB; 
    border-radius: 5px;
    color:white;
}

.search-panel {
    height: 50px;
    background: #256EEB; 
    border-radius: 5px;
    display: flex;
    padding: 3px;
}

.search-input {
    flex-grow: 1; /*рястягивается на все свободное место*/
    background: #FFFFFF;
    border-radius: 5px;
    padding: 0 22px;
    border: none;
}

.search-button {
    background: #256EEB; 
    border: none;
    color:white;
    padding: 16px 17px 15px 20px; /*20px - 3px(внутрненний отступ справа .search-panel на 64 строке кода)=17px*/
    display: flex;
    align-items: center; /*80 и 81 строки кода для того, чтобы иконка и текст были на одном уровне*/
}

.search-buttont-text {
    margin-left: 5px;
}

.page-content {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-column-gap: 30px;
}

.card-image {
    border-radius: 10px;
    width: 264px;
    height: 178px;
    object-fit: cover; /*if it is another parameters, it will be cut*/
}

.cards {
    display: flex;
    flex-wrap:wrap; /*if it can't state in the line, the item will be moved on*/
    width: 852px;
}

.card {
    margin-bottom: 20px;
    max-width: 264px;
}

.card:not(:nth-child(3n)) {
    margin-right: 30px;
}

.card-title {
    font-size: 16px;
    line-height: 19px;
    color: #256EEB;
    margin-top: 12px;
    margin-bottom: 5px;
}

.card-header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.like {
    background-color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
}

.card-price {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}

.card-text {
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 4px;
    margin-top: 0;
}

.card-link {
    text-decoration: none;
}

.sidebar .page-title {
    font-size: 18px;
    line-height: 21px;
}

.service {
    margin-bottom: 25px;
}

.service-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 7px;
    margin-bottom: 25px;
}

.service-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    max-width: 231px;
    height: 48px;
    left: 0px;
    top: 328px;
}

.footer-text {
    display: inline-block; /*???*/
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
    margin-bottom: 5px;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 16px;
}

.footer-link {
    color: inherit;
    text-decoration: none;
    display: inline-block; 
    margin-bottom: 5px;
}

